@charset "UFT-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    max-width: 2000px;
    margin: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#logo {
    width: 250px;
    padding-left: 30px;
    margin-bottom: 50px;
}

#img-30anos {
    width: 600px;
}

.line {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: rgb(236, 236, 236);
    margin-top: -25px;
}

main {
    margin: auto;
    max-width: 1210px;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    background-color: white;
}

.letreiro {
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}

.letreiro img {
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2em;
    padding: 30px 0 20px 0;
}

p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.4;
}
 
.parte01 img {
    width: 500px;
    padding-right: 30px;
}

.parte02 {
    display: flex;
    justify-content: space-between;
}

.parte02 img {
    width: 500px;
    padding-left: 30px;
}

.parte02-coluna {
    display: flex;
    flex-direction: column;
}

.parte03 img {
    width: 200px;
    padding-right: 20px;
}

.parte03 {
    display: flex;
    flex-direction: column;
}

.img-txt {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

/*Header*/
@media(max-width: 1109px) {
    #logo {
        width: 200px;
    }

    #img-30anos {
        width: 500px;
    }

    .line {
        height: 7px;
        margin-top: -25px;
    }
}

@media(max-width: 899px) {
    #logo {
        width: 170px;
    }

    #img-30anos {
        width: 400px;
    }

    .line {
        height: 7px;
        margin-top: -18px;
    }
}

@media(max-width: 739px) {
    #logo {
        width: 150px;
    }

    #img-30anos {
        width: 350px;
    }

    .line {
        height: 7px;
        margin-top: -20px;
    }
}

@media(max-width: 629px) {
    #logo {
        width: 140px;
    }

    #img-30anos {
        width: 300px;
        margin-top: -25px;
    }

    .line {
        height: 5px;
        margin-top: -40px;
    }
}

@media(max-width: 549px) {
    #logo {
        width: 130px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 250px;
        margin-top: -25px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 439px) {
    #logo {
        width: 100px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 200px;
        margin-top: -30px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 359px) {
    #logo {
        width: 90px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 170px;
        margin-top: -30px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 320px) {
    #logo {
        width: 80px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 160px;
        margin-top: -40px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}
/*Header*/

/*Main*/
    @media(max-width: 500px) {
        main {
            padding: 10px 10px;
        }
    }
/*Main*/

/*Section*/
@media(max-width: 1020px) {
    .parte01 {
        flex-wrap: wrap;
    }

    .parte01 p {
        margin: 20px 0px;
        padding-left: 0;
    }

    .parte01 img {
        width: 70%;
    }

    .parte02 img {
        width: 400px;
        padding-left: 15px;
    }
}

@media(max-width: 829px) {
    .parte02 {
        flex-wrap: wrap;
    }

    .parte02 img {
        margin: auto;
        padding-top: 30px;
    }
}

@media(max-width: 540px) {
    .parte02 img {
        width: 100%;
    }
}

@media(max-width: 993px) {
    .img-txt {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .img-txt img{
        padding: 20px;
}
/*Section*/