@charset "UFT-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: auto;
}

nav {
    height: 50px;
    background-color: black;
}

.itens-menu {
    max-width: 2000px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 20px;
    padding: 0 30px;
    margin: auto;
}

.itens-menu .link {
    color: white;
    text-decoration: none;
}

.link:hover {
    color: #FF6500;
}

header {
    max-width: 2000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}

#logo {
    width: 250px;
    padding-left: 30px;
    margin-bottom: 50px;
}

#img-30anos {
    width: 600px;
}

.line {
    display: flex;
    width: 100%;
    height: 10px;
    background-color: rgb(236, 236, 236);
    margin-top: -25px;
}

main {
    margin: auto;
    max-width: 1210px;
    padding: 10px 30px;
    background-color: white;
}

.letreiro {
    max-width: 2000px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0 20px 0;
    margin: auto;
}

.letreiro img {
    width: 100%;
}

section {
    display: flex;
    align-items: center;
    justify-content: center;
}

h2 {
    font-size: 2em;
    padding: 30px 0 20px 0;
}

h3 {
    text-align: center;
    padding: 30px 0 10px 0;
    font-size: 2em;
}

p {
    font-size: 1.5em;
    text-align: justify;
    line-height: 1.4;
}

.parte01 img {
    width: 500px;
    padding-right: 30px;
}

.parte02 {
    display: flex;
    justify-content: space-between;
}

.parte02 img {
    width: 45%;
    padding-left: 30px;
}

.parte02-coluna {
    display: flex;
    flex-direction: column;
}

.parte03 img {
    width: 250px;
    padding-right: 20px;
}

.parte03 {
    display: flex;
    flex-direction: column;
}

.img-txt {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
}

aside {
    background-color: rgb(236, 236, 236);
    border-radius: 7px;
    box-shadow: 7px 5px 11px 1px #0000004d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top: 30px;
    max-width: 1210px;
    padding: 10px;
}

.aside-txt {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding-right: 20px;
}

.aside-img {
    width: 50%;
    height: auto;
}

aside h2 {
    padding-top: 0;
}

.line2 {
    display: flex;
    width: 100%;
    height: 10px; 
    background-color: rgb(236, 236, 236);
    margin-top: 40px;
}

.fale-conosco {
    max-width: 1000px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}

.fale-conosco-1 {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.fale-conosco-1 img {
    width: 300px;
}

.fale-conosco-2 {
    padding: 20px;
}

span {
    display: flex;
    align-items: center;
}

h4 {
    font-size: 1.5em;
    margin-bottom: -10px;
}

span h5 {
    font-size: 2.4em;
    color: rgb(73, 197, 42);
}

#wpp {
    width: 40px;
    padding-right: 10px;
}

.nome, .email, .mensagem {
    width: 30vw;
}

form p {
    font-size: 1.2em;
    padding-top: 10px;
}

.mensagem {
    height: 150px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    padding: 20px;

}

.btn-buttons-1, .btn-buttons-2 {
    padding: 10px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7px;
}

.btn-buttons-1:hover {
    background-color: #009e35;
}

.btn-buttons-2:hover {
    background-color: #FF6500;
}

#img-sust-a {
    display: flex;
    justify-content: center;
    max-width: 1210px;
    margin: auto;
}

#img-sust {
    width: 100%;
    margin: 30px 0;
}

footer {
    background-color: black;
    display: flex;
    margin-top: 30px;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1250px;
    text-align: center;
}

.rodape img {
    max-width: 110px;
}

.infos-adicionais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h6 {
  padding: 10px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.infos-adicionais-icones {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.img-footer {
    margin: 0 0px 0 30px;
    padding: 0;
}

.infos-adicionais-icones img {
    display: flex;
    width: 30px;
}

#registro {
    color: white;
    font-size: 0.9em;
    text-align: center;
}

@media(max-width: 1000px) {
    .rodape {
        justify-content: center;
        padding: 30px;
        gap: 40px;
    }
}

@media(max-width: 630px) {
    .infos-adicionais-icones {
        font-size: 0.8em;
    }
    
}

@media (max-width: 490px) {

    .infos-adicionais-icones {
        display: flex;
        flex-direction: column;
    }
}

.registroo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-registro {
    display: flex;
    justify-content: center;
}

#bortoac-logo-3 {
    width: 40px;
    padding: 0px 5px;
}

/*nav*/
@media(max-width: 370px) {
    .itens-menu {
        justify-content: center;
    }

    a {
        font-size: 0.9em;
    }
}
/*nav*/

/*Header*/
@media(max-width: 1109px) {
    #logo {
        width: 200px;
    }

    #img-30anos {
        width: 500px;
    }

    .line {
        height: 7px;
        margin-top: -25px;
    }
}

@media(max-width: 899px) {
    #logo {
        width: 170px;
    }

    #img-30anos {
        width: 400px;
    }

    .line {
        height: 7px;
        margin-top: -18px;
    }
}

@media(max-width: 739px) {
    #logo {
        width: 150px;
    }

    #img-30anos {
        width: 350px;
    }

    .line {
        height: 7px;
        margin-top: -20px;
    }
}

@media(max-width: 629px) {
    #logo {
        width: 140px;
    }

    #img-30anos {
        width: 300px;
        margin-top: -25px;
    }

    .line {
        height: 5px;
        margin-top: -40px;
    }
}

@media(max-width: 549px) {
    #logo {
        width: 130px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 250px;
        margin-top: -25px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 439px) {
    #logo {
        width: 100px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 200px;
        margin-top: -30px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 359px) {
    #logo {
        width: 90px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 170px;
        margin-top: -30px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}

@media(max-width: 320px) {
    #logo {
        width: 80px;
        padding-left: 15px;
    }

    #img-30anos {
        width: 160px;
        margin-top: -40px;
    }

    .line {
        height: 5px;
        margin-top: -45px;
    }
}
/*Header*/

/*Main*/
@media(max-width: 500px) {
        main {
            padding: 10px 10px;
        }
}
/*Main*/

/*P*/
@media(max-width: 500px) {
    p {
        font-size: 1.3em;
    }

    h2 {
        font-size: 1.6em;
    }
}

@media(max-width: 499px) {
    p {
        font-size: 1em;
    }

    h2 {
        font-size: 1.4em;
    }
}
/*p*/

/*Section*/
@media(max-width: 1020px) {
    .parte01 {
        flex-wrap: wrap;
    }

    .parte01 p {
        margin: 20px 0px;
        padding-left: 0;
    }

    .parte01 img {
        width: 70%;
    }

    .parte02 img {
        width: 400px;
        padding-left: 20px;
    }
}

@media(max-width: 829px) {
    .parte02 {
        flex-wrap: wrap;
    }

    .parte02 img {
        margin: auto;
        padding-top: 30px;
    }
}

@media(max-width: 540px) {
    .parte02 img {
        width: 90%;
        padding: 0;
        padding-top: 20px;
    }
}

@media(max-width: 1142px) {
    .img-txt {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0;
    }

    .img-txt img{
        padding: 20px;
    }
}
/*Section*/

/*aside*/
@media(max-width: 853px) {
    aside {
        flex-wrap: wrap;
    }

    .aside-txt {
        width: 100%;
        padding-right: 0;
    }
    
    .aside-img {
        width: 80%;
        padding: 20px;
    }

    aside h2 {
        padding-top: 10px;
    }
}
/*aside*/

/*formulário*/
@media(max-width: 899px) {
    .fale-conosco {
    flex-wrap: wrap;
    justify-content: center;
    }

    .nome, .email, .mensagem {
        width: 70vw;
    }
}
/*formulário*/

/*footer*/

/*footer*/