.img-marketing {
    display: flex;
}

.img-marketing img {
    width: 500px;
}

.txt-marketing {
    display: flex;
    flex-direction: column;
    padding: 30px;
}

@media (max-width: 1222px) {
    .img-marketing {
        flex-wrap: wrap;
        justify-content: center;
    }

    .img-marketing img {
        padding: 30px;
    }

    .txt-marketing {
        padding: 0px;
    }
}

@media (max-width: 375px) {
    .img-marketing img {
        width: 300px;
    }
}