:root {
    --color1: #187A01;
    --color2: #3F912D; 
    --color3: #57C73E;
    --color4: #0E4701;
    --color5: #26C702;
    --color6: linear-gradient(to right, var(--color4), var(--color1));
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    margin-bottom: 30px;
}

.h1-contato {
    font-size: 2em;
    padding: 10px;
    color: white;
    background-image: linear-gradient(to right, var(--color4), white);
    border-radius: 10px;
    margin: 20px 0px 50px 0px;
}

.endereco h4 {
    font-size: 1.3em;
}

.endereco p {
    text-indent: 0;
    padding: 10px;
}

#divisao {
    width: 100%;
    border: solid 1px var(--color1);
}

form {
    margin-left: 30px;
    width: 100%;   
}

  label, input, textarea {
    display: block;
    margin-bottom: 10px;
    width: 80vh;
}

@media(max-width: 600px) {
    label, input, textarea {
        width: 400px;
    }

    .endereco {
        padding: 20px;
    }
}

  input[type="submit"] {
    background-image: var(--color6);
    border-radius: 20px;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

input[type="submit"]:hover {
    background-image: linear-gradient(to right, var(--color3), var(--color5));
}