@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --color1: #187A01;
    --color2: #3F912D; 
    --color3: #57C73E;
    --color4: #0E4701;
    --color5: #26C702;
    --color6: linear-gradient(to right, var(--color4), var(--color1));
}

.icones-topo {
    display: flex; 
    justify-content: center;
    gap: 20px;
    padding: 10px 0px;
    justify-content: center;
}

.sep {
    margin: auto;
    width: 50vh;
    border-bottom: 2px solid var(--color4);
}

header {
    display: flex;
    background-color: white;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
}

header h1 {
    color: var(--color1);
    padding: 40px;
    text-align: center;
    font-weight: normal;
    font-size: 1.9em;
}

header img {
    padding: 10px 0px;
    width: 218px;
}

@media(max-width: 1280px) {
    header img {
        width: 170px;
    }

    header h1 {
        font-size: 1.7em;
    }
}

@media(max-width: 660px) {
    header img {
        width: 120px;
        padding: 10px 0 10px 10px;
    }

    header h1 {
        font-size: 1.2em;
    }

    nav a {
        font-size: 0.9em;
    }
}

@media(max-width: 490px) {
    header img {
        width: 100px;
        padding: 5px 0 5px 5px;
    }

    header h1 {
        font-size: 1em;
    }

    nav a {
        font-size: 0.7em;
    }

    #home-img {
        width: 20px;
    }
}

@media(max-width: 320px) {
    header img {
        width: 90px;
        padding: 0;
    }

    header h1 {
        font-size: 0.9em;
    }

    nav a {
        font-size: 0.7em;
    }

    #home-img {
        width: 20px;
    }
}

nav {
    background-color: var(--color3);

}

.menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 1300px;
    margin: auto;
    flex-wrap: wrap;
    padding: 2px;
}

nav a {
    text-decoration: none;
    color: var(--color4);
    padding: 4px;
    font-weight: bold;    
}

.menu img {
    width: 28px;
}

a:hover {
    background-color: var(--color1);
    border-radius: 7px;
    color: white;
    transition-duration: 0.5s;
}

.menu-escondido {
    display: none;
}

.menu-escondido img {
    width: 32px;
    padding: 5px 0px 5px 15px;
}

.itens-menu-escondido {
    display: none;
}

@media(max-width: 910px) {
    .menu {
        display: none;
    }

    .menu-escondido {
        display: flex;
        flex-direction: column;
    }

    .menu-escondido:hover .itens-menu-escondido  {
        display: flex;
        flex-direction: column;
        gap: 5px;
        text-align: center;
        padding-bottom: 10px;
    }
}

.banner {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.banner img {
    width: 100%;
}

main {
    margin: auto;
    max-width: 1210px;
    padding: 10px 30px;
    border-radius: 0 0 10px 10px;
    background-color: white;
    box-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.135);
}

strong {
    color: var(--color2);
}

h2 {
    padding: 15px 0px;
    font-size: 1.8em;
    color: var(--color1);
}

p {
    text-align: justify;
    text-indent: 30px;
    font-size: 1.2em;
}

@media (max-width: 320px) {
    h2 {
        font-size: 1.5em;
    }

    p {
        font-size: 1.1em;
    }

    .menu img {
        width: 23px;
    }

    .menu-escondido img {
        width: 23px;
    }
}

h3 {
    color: white;
    text-align: center;
    margin-bottom: 15px;
    padding: 10px;
}

aside {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 20px;
    flex-wrap: wrap;
}

#btn {
    text-decoration: none;
    color: white;
}

#btn:hover {
    background-image: linear-gradient(to right, var(--color3), var(--color5));
}

aside img {
    width: 170px;
}

.aside01 {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 1.1em;
    text-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.675);
}

.aside01 button {
    border: none;
    background-image: linear-gradient(to right, var(--color4), var(--color1));
    color: white;
    padding: 10px;
    font-size: 1.2em;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 0px 2px 13px 5px rgba(0, 0, 0, 0.256);
}

button:hover {
    background-image: linear-gradient(to right, var(--color3), var(--color5));
}

footer {
    background-image: linear-gradient(to right, var(--color4), var(--color1));
    display: flex;
    margin-top: 30px;
}

.rodape {
    display: flex;
    flex-direction: row;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 1250px;
    text-align: center;
}

.rodape img {
    max-width: 110px;
    padding: 10px;
}

.infos-adicionais {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.h6 {
  padding: 10px;
  color: white;
  font-size: 1.2em;
  text-align: center;
}

.infos-adicionais-icones {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.infos-adicionais-icones img {
    display: flex;
    width: 30px;
    padding: 5px;
}

#registro {
    color: white;
    font-size: 0.9em;
    text-align: center;
}

@media(max-width: 1000px) {
    .rodape {
        justify-content: center;
        padding: 30px;
        gap: 40px;
    }
}

@media(max-width: 630px) {
    .infos-adicionais-icones {
        font-size: 0.8em;
    }
    
}

@media (max-width: 490px) {

    .infos-adicionais-icones {
        display: flex;
        flex-direction: column;
    }
}

.registroo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sub-registro {
    display: flex;
    justify-content: center;
}

#bortoac-logo-3 {
    width: 40px;
    padding: 0px 5px;
}