section {
    display: flex;
    background-color: blue;
}

.h1-contato {
    font-size: 2em;
    text-align: center;
}

.one {
    width: 40vh;
    background-color: aqua;     
}

.one h4 {
    font-size: 1.1em;
}

.one p {
    text-indent: 0;
}